body {
  background-color: #001219;
  color: #E9D8A6;
}


#scramble {
  grid-column: 3/12;
  font-size: 100px;
  margin-top: 100px;
  grid-row: 1;
}

.Img1 {
  grid-column: 10/12;
  grid-row: 1;
}

.whyTitle {
  grid-column: 2/5;
  font-family: 'DM Serif Display', serif;
  font-size: 80px;
}

.whyP {
  grid-column: 6/12;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
.whyTitle1{
  font-family: 'DM Serif Display', serif;
  font-size: 80px;
  grid-column: 2/5;
  grid-row: 4;
  margin-top: 150px;
}

.whyP1 {
  grid-column: 2/5;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  grid-row: 4;
  margin-top: 260px;
}

.whyTitle2{
  font-family: 'DM Serif Display', serif;
  font-size: 80px;
  grid-column: 2/5;
  grid-row: 5;
  margin-top: 150px;
}

.whyP2 {
  grid-column: 2/5;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  grid-row: 5;
  margin-top: 260px;
}

//slider

#slider-container {
  overflow: hidden;
  position: relative;
  grid-column: 6/12;
  grid-row: 4;
}

#slider-container1 {
  overflow: hidden;
  position: relative;
  grid-column: 6/12;
  grid-row: 5;
  margin-top: 50px;
}

#image-slider {
  // make images display side by side as one long row
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider-image {
  max-width: 100%;
  height: auto;
}

#prev-btn, #next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  cursor: pointer;
  padding: 20px;
  border: none;
  background-color: rgba(255,255,255,.6);
}

#prev-btn {
  left: 0px;
}

#next-btn {
  right: 0px;
}