body {
  background-color: #001219;
  color: #E9D8A6;
}

#scrambleDr {
  grid-column: 2/5;
  grid-row: 1;
  font-size: 40px;
  text-align: right;
  margin-top: 40px;
}

.imgDr {
  grid-column: 1/3;
  grid-row: 1;
  width: 120px;
  height: 180px;
  margin-top: 80px;
}

.titleDr {
  grid-column: 1/5;
  grid-row: 2;
  font-family: 'DM Serif Display', serif;
  font-size: 35px;
}

.pDr {
  grid-column: 1/5;
  grid-row: 2;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  margin-top: 150px;
}

#imgDr1 {
  width: 300px;
  height: 200px;
  grid-column: 1/5;
  grid-row: 4;
  margin-left: 25px;
}

#imgDr2 {
  width: 150px;
  height: 200px;
  grid-column: 1/5;
  grid-row: 5;
  margin-left: 105px;
}

#imgDr3 {
  width: 250px;
  height: 200px;
  grid-column: 1/5;
  grid-row: 6;
  margin-left: 50px;
}

#imgDr4 {
  width: 250px;
  height: 100px;
  grid-column: 1/5;
  grid-row: 7;
  margin-left: 50px;
}

#imgDr5 {
  width: 250px;
  height: 100px;
  grid-column: 1/5;
  grid-row: 7;
  margin-left: 50px;
  margin-top: 90px;
}

#imgDr6 {
  width: 250px;
  height: 100px;
  grid-column: 1/5;
  grid-row: 7;
  margin-left: 50px;
  margin-top: 180px;
}

#imgDr7 {
  width: 100;
  height: 900px;
  grid-column: 1/5;
  grid-row: 8;
  margin-left: 50px;
  margin-top: 180px;
}


@media screen and (min-width:768px) {
  #scrambleDr {
    grid-column: 5/11;
    grid-row: 1;
    font-size: 90px;
    text-align: right;
    margin-top: 60px;
  }
  
  .imgDr {
    grid-column: 2/5;
    grid-row: 1;
    width: 120px;
    height: 180px;
    margin-top: 50px;
  }
  
  .titleDr {
    grid-column: 2/5;
    grid-row: 2;
    font-size: 35px;
  }
  
  .pDr {
    grid-column: 6/12;
    grid-row: 2;
    font-size: 18px;
    // margin-top: 150px;
  }

  #imgDr1 {
    width: 800px;
    height: 400px;
    grid-column: 2/11;
    grid-row: 3;
    margin-left: 25px;
    margin-top: 70px;
  }
  
  #imgDr2 {
    width: 150px;
    height: 200px;
    grid-column: 1/6;
    grid-row: 4;
    margin-left: 105px;
  }
  
  #imgDr3 {
    width: 250px;
    height: 200px;
    grid-column: 6/12;
    grid-row: 4 ;
    margin-left: 50px;
  }
  
  #imgDr4 {
    width: 350px;
    height: 150px;
    grid-column: 3/10;
    grid-row: 4;
    margin-left: 50px;
    margin-top: 350px;
  }
  
  #imgDr5 {
    width: 350px;
    height: 150px;
    grid-column: 3/10;
    grid-row: 4;
    margin-left: 50px;
    margin-top: 500px;
  }
  
  #imgDr6 {
    width: 350px;
    height: 150px;
    grid-column: 3/10;
    grid-row: 4;
    margin-left: 50px;
    margin-top: 650px;
  }
  
  #imgDr7 {
    width: 350px;
    height: 1200px;
    grid-column: 3/12;
    grid-row: 5;
    margin-left: 50px;
    margin-top: 480px;
  }
}

@media screen and (min-width:1200px) {
  #scrambleDr {
    grid-column: 6/12;
    grid-row: 1;
    font-size: 100px;
    text-align: right;
    margin-top: 60px;
  }
  
  .imgDr {
    grid-column: 2/5;
    grid-row: 1;
    width: 150px;
    height: 240px;
    margin-top: 50px;
  }
  
  .titleDr {
    grid-column: 2/5;
    grid-row: 2;
    font-size: 55px;
  }
  
  .pDr {
    grid-column: 6/12;
    grid-row: 2;
    font-size: 18px;
  }

  #imgDr1 {
    width: 700px;
    height: 400px;
    grid-column: 3/11;
    grid-row: 3;
    margin-left: 35px;
    margin-top: 70px;
  }
  
  #imgDr2 {
    width: 150px;
    height: 200px;
    grid-column: 3/9;
    grid-row: 4;
    margin-top: 170px;
  }
  
  #imgDr3 {
    width: 250px;
    height: 200px;
    grid-column: 7/10;
    grid-row: 4 ;
    margin-top: 170px;
  }
  
  #imgDr4 {
    width: 500px;
    height: 250px;
    grid-column: 4/12;
    grid-row: 5;
    margin-left: 50px;
    margin-top: 90px;
  }
  
  #imgDr5 {
    width: 500px;
    height: 250px;
    grid-column: 4/12;
    grid-row: 5;
    margin-top: 280px;
  }
  
  #imgDr6 {
    width: 500px;
    height: 250px;
    grid-column: 4/12;
    grid-row: 5;
    margin-left: 50px;
    margin-top: 450px;
  }
  
  #imgDr7 {
    width: 500px;
    height: 1400px;
    grid-column: 4/12;
    grid-row: 6;
    margin-left: 50px;
    margin-top: 100px;
  }
}


@media screen and (min-width:1920px) {
  #scrambleDr {
    grid-column: 6/12;
    grid-row: 1;
    font-size: 130px;
    text-align: right;
    margin-top: 120px;
  }
  
  .imgDr {
    grid-column: 2/5;
    grid-row: 1;
    width: 250px;
    height: 350px;
    margin-top: 100px;
  }
  
  .titleDr {
    grid-column: 2/5;
    grid-row: 2;
    font-size: 75px;
  }
  
  .pDr {
    grid-column: 6/12;
    grid-row: 2;
    font-size: 30px;
  }

  #imgDr1 {
    width: 850px;
    height: 520px;
    grid-column: 4/12;
    grid-row: 3;
    margin-left: 35px;
    margin-top: 70px;
  }
  
  #imgDr2 {
    width: 250px;
    height: 300px;
    grid-column: 3/5;
    grid-row: 4;
    margin-top: 170px;
  }
  
  #imgDr3 {
    width: 330px;
    height: 300px;
    grid-column: 7/11;
    grid-row: 4 ;
    margin-top: 170px;
  }
  
  #imgDr4 {
    width: 500px;
    height: 250px;
    grid-column: 2/6;
    grid-row: 5;
    margin-left: 50px;
    margin-top: 90px;
  }
  
  #imgDr5 {
    width: 500px;
    height: 250px;
    grid-column: 2/6;
    grid-row: 5;
    margin-top: 280px;
  }
  
  #imgDr6 {
    width: 500px;
    height: 250px;
    grid-column: 2/6;
    grid-row: 5;
    margin-left: 50px;
    margin-top: 450px;
  }
  
  #imgDr7 {
    width: 500px;
    height: 1400px;
    grid-column: 7/13;
    grid-row: 5;
    margin-left: 50px;
    margin-top: 0px;
  }

}


